<div class="col-md-8 offset-md-3">
<h2>Add Book</h2>
<form (ngSubmit) = "onSubmit()">
<div class="form-group">
    <label>Book Name</label>
    <input type="text" class="form-control" id="book_name" [(ngModel)] = "book.book_name" name="book_name" autocomplete="off">
</div><br>
<div class="form-group">
    <label>Book Genre</label>
    <select class="form-control" id="book_genre" [(ngModel)] = "book.book_genre" name="book_genre">
        <option *ngFor="let genre of genres" value="genre">{{genre.genre}}</option>
    </select>
</div><br>
<div class="form-group">
    <label>Book Author</label>
    <input type="text" class="form-control" id="book_author" [(ngModel)] = "book.book_author" name="book_author" autocomplete="off"> 
</div> <br>
<div class="form-group">
    <label>Book Publishers</label>
    <select class="form-control" id="book_publishers" [(ngModel)] = "book.book_publishers" name="book_publishers">
        <option *ngFor="let publisher of publishers" value="publisher">{{publisher.name}}</option>
    </select>
</div>
<br>
<button class= "btn btn-success" type="submit">Submit</button>
</form>
</div>